.main{
        position: relative;
        width: 100%;
        height: 800px;
        overflow: hidden;
        background-color: black;
        z-index: -2;
    #backgroundImage{
        position: fixed;
        width: calc(max(100%, 1700px));
        height: 1200px;
        opacity: 0.2;
        transform: translateX(-200px);
        z-index: -1;
    }
    .introduction{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        z-index: 1;
        padding-top: 30px;
        color: $white;


        h1{
            font-size: 40px;
            padding-bottom: 30px;
            text-align: center;
        }
        p{
            padding-bottom: 35px;
            text-align: center;
        }
 
    }
    
}
@media(min-width:900px){
    .main{
        #backgroundImage{
            transform: translateX(0px);
        }
        .introduction{
            padding-top: 130px;
            h1{
                font-size: 50px;
            }
        }
    }
}
