<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <title>Restauraunt | Town, AB</title>
</head>

<body>
<!-------------------------------------------INTRO---------------------------------------------->
<!-------------------------------------------INTRO---------------------------------------------->
<!-------------------------------------------INTRO---------------------------------------------->

    <div class="main">
        <img id="backgroundImage" src="../images/barBackgroundInvert.jpg">
        
        <div class="header">
            <img src="../images/Sample Logo-1.png" alt="companyLogo">

            <div class="burgerMenu">
                <input type="checkbox" id="burgerCheckbox" onclick="burgerMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div id="menu">
                <ul>
                    <li><a href="index.html" src="Tag">HOME</a></li>
                    <li><a href="menu.html" src="Tag">MENU</a></li>
                    <li><a href="" src="Tag">ABOUT US</a></li>
                    <li><a href="" src="Tag">CONTACT</a></li>
                </ul>    

            </div>
           
        </div>
        <div class="wrapper">
            <div class="introduction">
                <h1>Slogan: Best food and wings in Camrose, AB</h1>
                <p>Small description about the restauraunt and its origins or any other important information Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, natus!</p>
                <button onclick="window.location='menu.html'">Our Menu</button>
            </div>
        </div>
        
    </div>
<!-------------------------------------------INTRO---------------------------------------------->
<!-------------------------------------------INTRO---------------------------------------------->
<!-------------------------------------------INTRO---------------------------------------------->



<!-------------------------------------------SIGNATURE DRINKS---------------------------------->
<!-------------------------------------------SIGNATURE DRINKS---------------------------------->
<!-------------------------------------------SIGNATURE DRINKS---------------------------------->

<div class="signature">
        <div class=sectionHeader><h1>Signature Drinks </h1></div>
        <div class=imageGrid>
            <div class="item">
                <img src="../images/drink1.png">
                <h3>BAR SPECIAL</h3>
                <p>Ingredients list, Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="item">
                <img src="../images/drink2.png">
                <h3>ANOTHER DRINK</h3>
                <p>Ingredients list, Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="item">
                <img src="../images/drink3.png">
                <h3>STAWBERRY DAQURI</h3>
                <p>Ingredients list, Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="item">
                <img src="../images/drink4.png">
                <h3>RANDOM DRINK NAME</h3>
                <p>Ingredients list, Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="item">
                <img src="../images/drink5.png">
                <h3>WHISKEY SOUR</h3>
                <p>Ingredients list, Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="item">
                <img src="../images/drink6.png">
                <h3>RASPBERRY MOJITO</h3>
                <p>Ingredients list, Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <button>View All Drinks</button>
    </div>
<!-------------------------------------------SIGNATURE DRINKS---------------------------------->
<!-------------------------------------------SIGNATURE DRINKS---------------------------------->
<!-------------------------------------------SIGNATURE DRINKS---------------------------------->

<div class="aboutUs">
    
</div>
</body>
<script src="../scripts/script.js"></script>
</html>