<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Restauraunt | Town, AB</title>
</head>

<body>

    <div class="main">
        <img id="backgroundImage" src="../images/barBackgroundInvert.jpg">
        
        <div class="header">
            <img src="../images/Sample Logo-1.png" alt="companyLogo">

            <div class="burgerMenu">
                <input type="checkbox" id="burgerCheckbox" onclick="burgerMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div id="menu">
                <ul>
                    <li><a href="" src="Tag">HOME</a></li>
                    <li><a href="" src="Tag">MENU</a></li>
                    <li><a href="" src="Tag">ABOUT US</a></li>
                    <li><a href="" src="Tag">CONTACT</a></li>
                </ul>    
            </div>
          
        </div>
    </div>
    <div class="nextDiv">
        <h1>NEXT DIV</h1>
    </div>


    </div>
</body>
<script src="../scripts/script.js"></script>
</html>