* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  z-index: 0;
  background-color: #0C0E0F;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sectionHeader {
  display: flex;
  justify-content: center;
}
.sectionHeader h1 {
  font-size: 45px;
  color: #FAFAFA;
}
.sectionHeader ::after {
  display: block;
  content: "";
  border-bottom: 5px solid rgb(238, 155, 1);
  transform: scaleX(0.3);
  padding-bottom: 3px;
  margin-bottom: 20px;
}

@media (max-width: 415px) {
  .sectionHeader h1 {
    font-size: 30px;
  }
}
button {
  width: 185px;
  height: 60px;
  border-radius: 30px;
  font-size: 19px;
  border: 3px solid #FAFAFA;
  background-color: transparent;
  color: #FAFAFA;
  transition: 0.3s ease-in-out;
}

button:hover {
  border: 3px solid rgb(238, 155, 1);
  color: rgb(238, 155, 1);
}

.main {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  z-index: -2;
}
.main #backgroundImage {
  position: fixed;
  width: max(100%, 1700px);
  height: 1200px;
  opacity: 0.2;
  transform: translateX(-200px);
  z-index: -1;
  overflow: visible;
}
.main .introduction {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  z-index: 1;
  padding-top: 30px;
  color: #FAFAFA;
}
.main .introduction h1 {
  font-size: 40px;
  padding-bottom: 30px;
  text-align: center;
}
.main .introduction p {
  padding-bottom: 35px;
  text-align: center;
}

@media (min-width: 900px) {
  .main #backgroundImage {
    transform: translateX(0px);
  }
  .main .introduction {
    padding-top: 130px;
  }
  .main .introduction h1 {
    font-size: 50px;
  }
}
.signature {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #0C0E0F;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.signature h1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 40px;
}
.signature .imageGrid {
  position: relative;
  z-index: 1;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 0px;
}
.signature .imageGrid .item {
  color: #FAFAFA;
  width: 215px;
  padding: 20px 60px;
}
.signature .imageGrid .item img {
  height: 250px;
  width: 215px;
  border: 4px solid #FAFAFA;
}
.signature .imageGrid .item h3 {
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
  padding-bottom: 5px;
  color: rgb(238, 155, 1);
  font-family: "Paytone One", sans-serif;
}
.signature .imageGrid .item p {
  text-align: center;
}

.aboutUs {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #0C0E0F;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutUs h1 {
  padding-bottom: 20px;
}
.aboutUs .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}
.aboutUs .content img {
  width: min(600px, 100%);
}
.aboutUs .content p {
  color: #FAFAFA;
  padding-bottom: 15px;
}

@media (max-width: 415px) {
  .aboutUs .content p {
    font-size: 14px;
  }
}
.main .header {
  position: relative;
  width: 100%;
  height: 125px;
  z-index: 2;
  display: flex;
  align-items: center;
}
.main .header .burgerMenu {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 3;
}
.main .header .burgerMenu input {
  width: 50px;
  height: 42px;
  opacity: 0%;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 4;
}
.main .header .burgerMenu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #F4F1E0;
  transition: 0.3s ease-in;
}
.main .header .burgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.main .header .burgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.main .header .burgerMenu input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
  background-color: black;
}
.main .header .burgerMenu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.main .header .burgerMenu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}
.main .header img {
  height: 100px;
  width: auto;
  padding-left: 20px;
}
.main .header #menu {
  position: absolute;
  top: 0;
  height: 1000px;
  width: 100%;
  background-color: #F4F1E0;
  opacity: 1;
  transition: 0.5s ease-in-out;
  transform: translateY(1000px);
}
.main .header #menu ul {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.main .header #menu ul li {
  margin: 35px 0px;
  border-bottom: 2px solid black;
  width: 100%;
  text-align: center;
}
.main .header #menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 40px;
}

@media (min-width: 900px) {
  .main .header {
    justify-content: center;
  }
  .main .header .burgerMenu {
    display: none;
  }
  .main .header #menu {
    transform: translateY(0px) !important;
    background-color: transparent;
    position: relative;
    height: 100%;
    width: 600px;
  }
  .main .header #menu ul {
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .main .header #menu ul li {
    margin: 0;
    border-bottom: 0px;
  }
  .main .header #menu ul li a {
    font-size: 20px;
    color: #FAFAFA;
    transition: 0.3s ease-in-out;
  }
  .main .header #menu ul li a:hover {
    opacity: 60%;
  }
}
.menuTitle {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entireMenu {
  position: absolute;
  top: 300px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #0C0E0F;
}
.entireMenu .menuSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entireMenu .menuSection h1 {
  text-align: center;
  color: rgb(238, 155, 1);
  padding: 30px 0px;
}
.entireMenu .menuSection .sectionItems {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
}
.entireMenu .menuSection .sectionItems .foodItem {
  width: 250px;
  color: #FAFAFA;
  padding: 30px 70px;
}
.entireMenu .menuSection .sectionItems .foodItem h3 {
  font-size: 23px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.entireMenu .menuSection .sectionItems .foodItem h3::after {
  content: " $12:99";
  font-weight: 600;
  color: rgb(238, 155, 1);
}/*# sourceMappingURL=style.css.map */